body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.pie{
    color: #EAE3D2
}

.nombre{
    font-size: 20px;
    color: #EAE3D2;
    align-items: center;
}

h1,h3{
    color: #EAE3D2;
}

.perfil{
    padding-top: 10px;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.flex-header{
    background-color: #1C3879;
    padding: 2rem;
    flex-basis: 0%;
    flex-grow: 0;
    flex-shrink: 1;
}
.flex-main{
    background-color: black;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
}
.flex-article{
    padding: 30px;
    background-color: #F9F5EB;
    flex-basis: 0%;
    flex-grow: 4;
    flex-shrink: 1;
}
.flex-aside{
    padding-top: 20px;
    background-color: #607EAA;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
}
.flex-footer{
    padding: 2rem;
    background-color:#1C3879;
    flex-basis: 0%;
    flex-grow: 0;
    flex-shrink: 1;
}

@media (max-width: 450px){
    .flex-main{
        flex-direction: column;
    }
}


table{
    text-align: justify;
    width: 95%;
    margin: auto;
}

th{
    color: black;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

td{
    color: black;
    font-size: 20px;
    padding: 30px;
    border-radius: 10px;
}

thead{
    border-bottom: solid 0px;
    color: black;
  
}

td:hover{
    background-color:#607EAA;
    color:#EAE3D2;
}

th:hover{
    border-radius: 10px;
    background-image:linear-gradient(to right,#F9F5EB,#e4c16b);
}
