body{
    color: #D6D58E;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    color: #D6D58E;
    align-items: center;
}

.perfil{
    padding-top: 10px;
}

.boxIzquierda{
    display: flex;
    background-color: yellow;
    height: 80%;
}
.boxMedio{
    width: 33%;
    height: 100%;
    background-color: rebeccapurple;
}
.boxDerecha{
    width: 33%;
    height: 100%;
    background-color: red;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.flex-header{
    background-color: #023535;
    padding: 2rem;
    flex-basis: 0%;
    flex-grow: 0;
    flex-shrink: 1;
}
.flex-main{
    background-color: black;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
}
.flex-article{
    padding: 30px;
    background-color: #008F8C;
    flex-basis: 0%;
    flex-grow: 4;
    flex-shrink: 1;
}
.flex-aside{
    padding-top: 20px;
    background-color: #015958;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
}
.flex-footer{
    padding: 2rem;
    background-color:#023535;
    flex-basis: 0%;
    flex-grow: 0;
    flex-shrink: 1;
}

@media (max-width: 450px){
    .flex-main{
        flex-direction: column;
    }
}

